.home_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4em;
}

.home_container h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.home_container h1 span {
    background-color: #222;
    color: #ffbb33;
    padding: 0.2em;
    margin-top: 1rem;
    display: inline-block;
}

.home_container p {
    text-align: center;
    margin-bottom: 1.5em;
    color: #7b7b7b;
}

.home_container img {
    max-width: 250px;
    margin: 2em 0;
}

@media(min-width: 640px) {
    .home_container img {
        max-width: 350px;
    }
}