.footer {
    background-color: #222;
    text-align: center;
    color: white;
    padding: 3em;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1rem;
}

.social_list li:hover {
    color: #ffbb33;
}

.social_list svg {
    font-size: 1.5rem;
    cursor: pointer;
}

.copy_right {
    margin-top: 1rem;
}

.copy_right span {
    color: #ffbb33;
    font-weight: bold;
}