.navbar {
    background-color: #222;
    padding: 1em;
}

.list {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a:hover {
    color: #FFBB33;
}